<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Pudo R&M</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal">
      
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del equipo</strong></h4>              
          <div class="card-body">
            <form th:action="@{/terminales/save}" method="post" th:object="${vacante}" > <!-- th:object="${vacante}" se agrega para poder manejar los errores -->
              
              <!-- En este div se capturan los errores y se muestran al usuario en la interfaz -->
              <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
              	Por favor corrija los siguientes errores!
              	<ul>
              		<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
              	</ul>
              </div>    
                        
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombrePc">Nombre PC</label>
                    <input type="hidden" th:field="*{id}"> <!-- tipo hidden no es visible y con field capturamos el valor, en este caso el id -->
                    <input type="text" class="form-control" th:field="*{nombrePc}" id="nombrePc" name="nombrePc" placeholder="Nombre interno del equipo" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" th:field="*{configuracion}" name="configuracion" id="configuracion">
                       
                      <option value="HT">HT</option>
                      <option value="CT">CT</option>
                      
                    </select>
                    
                  </div> 
                </div>    
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="configuracion">Configuraci&oacute;n</label>
                    <input type="text" class="form-control" th:field="*{configuracion}" id="configuracion" name="configuracion" placeholder="Modelo de terminal" required="required">
                  </div>
                </div>

                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nBoxes">N° Boxes</label>
                    <input type="text" class="form-control" th:field="*{nBoxes}" id="nBoxes" name="nBoxes" placeholder="Numero de Boxes" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombreLocacion">Nombre Local</label>
                    <input type="text" class="form-control" th:field="*{nombreLocacion}" id="nombreLocacion" name="nombreLocacion" placeholder="Nombre del Local" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="">Direcci&oacute;n</label>
                    <input type="text" class="form-control" th:field="*{}" id="" name="" placeholder="" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="">Localidad</label>
                    <input type="text" class="form-control" th:field="*{}" id="" name="" placeholder="" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="">Codigo Postal</label>
                    <input type="text" class="form-control" th:field="*{}" id="" name="" placeholder="" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="">Horario</label>
                    <input type="text" class="form-control" th:field="*{}" id="" name="" placeholder="" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Fecha de Publicaci&oacute;n</label>
                    <input type="text" class="form-control" th:field="*{fecha}" name="fecha" id="fecha" placeholder="Fecha de publicacion" required="required">
                  </div>  
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="">Contacto Local</label>
                    <input type="text" class="form-control" th:field="*{}" id="" name="" placeholder="" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="">Contacto Supervisor</label>
                    <input type="text" class="form-control" th:field="*{}" id="" name="" placeholder="" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" th:field="*{configuracion}" name="configuracion" id="configuracion">
                       
                      <option value="HT">HT</option>
                      <option value="CT">CT</option>
                      
                    </select>
                    
                  </div> 
                </div>
                 
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <select class="form-control" th:field="*{configuracion}" name="configuracion" id="configuracion">
                       
                      <option value="HT">HT</option>
                      <option value="CT">CT</option>
                      
                    </select>
                    
                  </div> 
                </div>     
             
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      /* Funcion para activar el tinymce con JS */
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
     
      
    </script>
  </body>
</html>