<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <span>
		        <img class="logopudomenu" src="/Content/images/logo-pudo-alt.png" width="40" />
		        <a id="pudotitle" class="navbar-brand text-warning" href="../Home/Index">Pudo Data Lockers</a>
		    </span>
		
		
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-auto">
		                        <li class="nav-item dropdown">
		                            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                                Terminales
		                            </a>
		
		                            <ul class="dropdown-menu animated fadeIn bg-#20c997" aria-labelledby="navbarDropdown">
		                                        <li><a class="dropdown-item text-warning bg-dark" href=/ReserveParcel/CreateParcelFirstTime>Caba</a></li>
		                                        <li><a class="dropdown-item text-warning bg-dark" href=/CourierReservation/CourierReservationFirstTime>Norte</a></li>
		                                        <li><a class="dropdown-item text-warning bg-dark" href=/InsuranceTypeList/Index>Sur</a></li>
		                                        <li><a class="dropdown-item text-warning bg-dark" href=/InsuranceTypeList/Index>Oeste</a></li>
		                                        <li><a class="dropdown-item text-warning bg-dark" href=/InsuranceTypeList/Index>Cordoba</a></li>
		                                        <li><a class="dropdown-item text-warning bg-dark" href=/InsuranceTypeList/Index>Neuquen</a></li>
		                            </ul>
		                        </li>
		                        <li class="nav-item dropdown">
		                            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                                Usuario Final
		                            </a>
		                            <ul class="dropdown-menu animated fadeIn bg-secondary" aria-labelledby="navbarDropdown">
		                                        <li class="nav-item dropdown">
		                                            <a class="dropdown-item dropdown-toggle text-warning bg-secondary" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                                                Pudo Entrega
		                                            </a>
		                                            <ul class="dropdown-menu animated fadeIn bg-secondary" aria-labelledby="navbarDropdown1">
		                                                    <li>
		                                                        <a class="dropdown-item text-warning bg-secondary" href="/PudoEntregaParcel/CreateParcelFirstTime">Ingresar Paquete</a>
		                                                    </li>
		                                                    <li>
		                                                        <a class="dropdown-item text-warning bg-secondary" href="/PudoEntregaParcel/Index">Listado</a>
		                                                    </li>
		                                            </ul>
		                                        </li>
		                            </ul>
		                        </li>
		                        
		
		        </ul>
		    </div>
		    
		    <input id="h_UserPudoWarehouse_LockerManager" type="hidden" />
		        <div class="dropdown">
		            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                <i class="fas fa-user"></i> sfahafi
		            </button>
		            <div class="dropdown-menu dropdown-menu-right animated fadeIn bg-warning" aria-labelledby="dropdownMenu2">
		                <button class="dropdown-item bg-warning " type="button" onclick="changePassword();"><i class="fas fa-key"></i> Cambiar contraseña</button>
		                <button class="dropdown-item bg-warning" type="button" onclick="signOut();"><i class="fas fa-sign-in-alt"></i> Salir</button>
		            </div>
		        </div>
		
		</nav>